# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Package distribution
*.tgz
*.zip

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
